<!DOCTYPE html>
<html lang="en">

{% include 'TopBar.html' %}

<div style="background-color:#99a88f;" class="jumbotron">
  <div class="container text-center">
    <h1>CS 4501 SIS-Rebuild Project</h1>
    <p>Charlie Wu, Tong Qiu, & Zakey Faieq</p>
  </div>
</div>

<div class="section section-contact-3" id="contact">
    <div class="contact-container">
        <div class="address-container add-animation animation-1">
            <div class="address">
                <h4>University of Virginia</h4>
                <p class="text-gray">
                    Charlottesville, VA
                </p>
                <h4>Get in Touch?</h4>
                <a target="_blank" href="https://github.com/Charleo85/SIS-Rebuild#contact-us"  class="btn btn-black btn-contact">
                    CONTACT US <i class="fa fa-paper-plane"></i>
                </a>
                <h4>Thanks for Sharing ;)</h4>


                <div class="col-md-6">
                     <button id="facebook" class="btn btn-lg btn-contact btn-block">
                         <i class="fa fa-facebook-square"></i> Facebook
                     </button>
                </div>
                <div class="col-md-6">
                    <button id="twitter" class="btn btn-lg btn-contact btn-block">
                        <i class="fa fa-twitter"></i> Twitter
                    </button>
                </div>
            </div>
        </div>
        <div  class="map">
            <div id="contactUsMap" class="big-map"></div>
        </div>
    </div>
</div>


{% include 'BottomBar.html' %}
</html>
