{% block content %}

<footer class="footer footer-color-black">
    <div class="container">
        <nav class="pull-left">
            <ul>
              <li>
                  <a target="_blank" href="/">
                  Home
                  </a>
              </li>
              <li>
                  <a target="_blank" href="course/">
                  Course
                  </a>
              </li>

            </ul>
        </nav>
        <div class="social-area pull-right">
          <a href="https://github.com/Charleo85/SIS-Rebuild">
            <i class="fa fa-code-fork"></i>
          </a>
          <a href="https://github.com/thomaspinckney3/cs4501">
            <i class="fa fa-github-square"></i>
          </a>
          <a href="/admin">
            <i class="fa fa-users"></i>
          </a>

        </div>
        <div class="copyright">
            &copy; 2016 <a target="_blank" href=""> CS 4501 Class Project</a>, page made with <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
        </div>
    </div>
</footer>
</body>
{% endblock %}
