{% load rm_underscore %}
<html>
{% include 'TopBar.html' %}
<style>
#form1 { text-align: center; }
</style>

<div style="background-color:#99a88f;" class="jumbotron">
  <div class="container text-center">
  {% if True %}  <!-- status_code == 200 -->
    <h1>Create a New Course:  {{ instructor.first_name }}</h1>
  {% else %}
    <h1>Bad Request!</h1>
  {% endif %}
  </div>
</div>


<div id="form1" >
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="/course/create/" method="post" > {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create"> <br/>
    </form>
    <br/>
</div>



{% include 'BottomBar.html' %}
</html>
