<html>
{% include 'TopBar.html' %}

{% if status_code == 200 %}
<div style="background-color:#99a88f;" class="jumbotron">
  <div class="container text-center">
    <h1>List of All Courses</h1>
  </div>
</div>



<ul class="list-group">
  {% for c in all_courses %}
  <li class="list-group-item list-group-item-action"><a href="{{ c.href }}">{{ c.course_name }}</a> - Instructor: {{ c.instructor }}</li>


  {% endfor %}
  {% else %}
    <h1>Bad Request!</h1><hr>
  {% endif %}

</ul>

{% include 'BottomBar.html' %}
</html>
