{% load rm_underscore %}
<html>
{% include 'TopBar.html' %}

<div style="background-color:#99a88f;" class="jumbotron">
  <div class="container text-center">
  {% if status_code == 200 %}
    <h1>Student: {{ student.first_name }} {{ student.last_name }}</h1>
  {% else %}
    <h1>Bad Request!</h1>
  {% endif %}
  </div>
</div>

{% if status_code == 200 %}
<ul class="list-group">
  {% for key, value in student.items %}
    <li class="list-group-item list-group-item-action"><b>{{ key|rm_underscore }}</b>: {{ value }}</li>
  {% endfor %}
</ul>
{% endif %}

{% include 'BottomBar.html' %}
</html>
