{% block content %}

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="description" content="">
<meta name="author" content="">

<link href="/static/css/bootstrap.css" rel="stylesheet" />

<link href="/static/css/rubick_pres.css" rel="stylesheet"/>
<!--     Fonts and icons     -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link href="/static/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
<link href="/static/css/fonts/Rubik-Fonts.css" rel="stylesheet" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<!--   file for adding vertical points where we activate the elements animation   -->
<script type="text/javascript" src="/static/js/jquery.waypoints.min.js"></script>
<!--  js library for devices recognition -->
<script type="text/javascript" src="/static/js/modernizr.js"></script>
<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<!--   file where we handle all the script from the Rubik page   -->
<script type="text/javascript" src="/static/js/rubick_pres.js"></script>



<title>CS4501 Project</title>




</head>

<body id="page-top" class="index">


  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-burger" role="navigation">
      <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
      <div class="container">
          <div class="navbar-header">
              <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
              </button>
              <a href="http://162.243.117.39:8000" class="navbar-brand">
              CS 4501
              </a>
          </div>
          <div class="collapse navbar-collapse" >
              <ul class="nav navbar-nav navbar-right navbar-uppercase">

                <li class="social-links">
                  <a target="_blank" href="https://github.com/Charleo85/SIS-Rebuild">
                    <i class="fa fa-code-fork"></i>
                  </a>
                  <a target="_blank" href="https://github.com/thomaspinckney3/cs4501">
                    <i class="fa fa-github-square"></i>
                  </a>
                  <a href="/admin">
                    <i class="fa fa-users"></i>
                  </a>
                </li>

                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="/course/"><span class="glyphicon glyphicon-education"></span> Course</a></li>
                <li><a href="/instructor/"><span class="glyphicon glyphicon-thumbs-up"></span> Instructor</a></li>
                <li><a href="/about/"><span class="glyphicon glyphicon-heart"></span> About</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </ul>



              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
  </nav>
{% endblock %}
